language: rust
cache: cargo
rust:
- stable
- beta
- nightly

os:
- linux
- osx

notifications:
  email:
    on_success: never

before_install:
- if [ $TRAVIS_OS_NAME = linux ]; then sudo apt-get -qq update; else brew update; fi
- if [ $TRAVIS_OS_NAME = linux ]; then sudo apt-get install -y libusb-1.0-0-dev; else brew install libusb; fi
- travis_wait cargo install rustfmt --force || true

before_script:
- export PATH="$PATH":~/.cargo/bin
- echo "\$ rustfmt --version"
- cargo fmt --all -- --version

script:
# Install Janus
- curl -sL https://raw.githubusercontent.com/ethereumproject/janus/master/get.sh | bash
# Add Janus to PATH.
- export PATH=$PATH:$PWD/janusbin

- export RUST_BACKTRACE=1
- cargo fmt --all -- --verbose --write-mode=diff
- cargo test --all --verbose
- cargo build --all --verbose --release

# deploy:
#   skip_cleanup: true
#   provider: script
#   script: ./deploy.sh
#   on:
#     branch: issue/ci_builds
#   tags: true
